<h1>Add a New Song!</h1>
<hr>
<br>
    
  <form action="/songs" method="POST">
    <label>Song Title:<input type="text" name="title" id="title"></label>
    <br><br>
    <label>Song Artist:<input type="text" name="artist" id="artist"></label>
    <br><br>
    <label>Song Album:<input type="text" name="album" id="album"></label>
    <br><br>
    <label>Song ReleaseDate:<input  ></label>
    <input type="submit" id="submit" value="Add Song">
  </form>