<h1>Add a New Song!</h1>
<hr>
<br>
<% if @error %>
    <h2><%= @error %></h2>
<% end %>
    
  <form action="/songs" method="POST">
    <label>Song Title:<input type="text" name="title" id="title"></label>
    <br><br>
    <label>Song Artist(s):<input type="text" name="artist" id="artist"></label>
    <br><br>
    <label>Song Album:<input type="text" name="album" id="album"></label>
    <br><br>
    <label>Genre:<input type="text" name="genre" id="genre"></label>
    <br><br>
    <label>Song Release Date:<input type="intger" name="release_date" id="release_date"></label>
    <input type="submit" id="submit" value="Add Song">
<br>
<br>
<a href="/songs"><button> Back </button></a>
  </form>