<!DOCTYPE html>
<html>
    <head>
        <title>Welcome To Your Favorite Music Library!</title>
    </head>
    <body>
        <h1>To Create or Add to Your Library, Login or Signup!</h1>
        <p><a href="/login"><button>Log In</button></a></p>
        <p><a href="/signup"><button>Sign Up</button></a></p>
    </body>
</html>