<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Your Favorite Music Library!</title>
    </head>
    <body>
        <h1>To Create or Add to Your Library, Login or Signup!</h1>
        <p></p>
    </body>
</html>