<!DOCTYPE html>
<html>
    <head>
        <title>Welcome To Your Favorite Music Library!</title>
    </head>
    <body>
        <h1>To Create or Add to Your Library, Login or Signup!</h1>
        <p>#Login button</p>
        <p>#Sign Up button</p>
    </body>
</html>